.footer-link a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
    line-height: 35px;
  }
  
  .gradient {
    background: rgb(68, 67, 71);
    
  }
  .copyright {
    background-color: #0f0f11;
  }
  
  .dropdown-menu.show {
    left: -126px;
    padding: 11px;
  }
  